<nav>
    <div class="navbar d-flex justify-content-between sticky-top navbar-expand">
        <div class="container">
            <div class="navbar-brand">
                <img src="assets/images/logo.png" alt="logo" class="img-fluid" />
            </div>

            <ul class="navbar-nav bordered">
                <li>
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li>
                    <a routerLink="/" class="nav-link">Features</a>
                </li>
                <li>
                    <a routerLink="/" class="nav-link">Services</a>
                </li>
                <li>
                    <a routerLink="/" class="nav-link">Pricing</a>
                </li>
                <li class=" dropdown_toggle">
                    <a routerLink="/" class="nav-link">Pages</a>
                </li>
                <li>
                    <a routerLink="/" class="nav-link">Contact</a>
                </li>
            </ul>

            <div class="rightSec">
                <div class="parSec d-flex align-items-center">
                    <a routerLink="/" class="nav-link d-flex align-items-center text-white">
                        <i class="fa fa-comments"></i>
                        <span>Live Chat</span>
                    </a>
                    <a routerLink="/" class="nav-link">
                        <button type="button" class="loginBtn">Login</button>
                    </a>
                </div>
            </div>

            <div class="menuDrop">
                <div class="fa fa-bars"></div>
            </div>
        </div>
    </div>
</nav>
