<div class="container">
    <owl-carousel-o [options]="customOptions">
        <ng-container class="container">
            <ng-template carouselSlide>
                <img src="assets/images/brand-logo1.png" alt="brand-logo1">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/brand-logo2.png" alt="brand-logo2">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/brand-logo3.png" alt="brand-logo3">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/brand-logo4.png" alt="brand-logo4">
            </ng-template>
            <ng-template carouselSlide>
                <img src="assets/images/brand-logo5.png" alt="brand-logo5">
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>