header {
    left: 0;
    right: 0;
    width: 100%;
    transition: all 3s linear;
    z-index: 10;
}

.show {
    position: fixed;
    transition: all 3s linear;
}

.hidden {
    position: relative;
    transition: all 3s linear;
}

.heroSec {
    width: 100%;
    height: 790px;
    position: relative;
    // top: 0;
    // left: 0;
    opacity: .9;
    z-index: -1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(to right, #2926ac 0%, #6128be 100%);

    .text {
        h6 {
            font-size: 15px;
            margin-bottom: 16px;
            font-weight: 300 !important;
            line-height: 1.8;
            text-transform: uppercase;
        }

        h1 {
            color: #fff;
            font-size: 55px;
            margin-bottom: 40px;
        }

        p {
            font-size: 15px;
            margin-bottom: 16px;
            font-weight: 300 !important;
            line-height: 1.8;
            margin-bottom: 38px;
        }

        .getStarted {
            border: 1px solid #fff;
            background: transparent;
            display: inline-block;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            border-radius: 30px;
            padding: 12px 45px;
            transition: all 0.3s ease 0s;

            &:hover {
                background-color: #1e1859;
                border-color: #1e1859;
                color: #fff;
            }
        }
    }
}

.domainSec {
    padding: 50px 0;
    background-color: #f9f9ff;

    .input {
        input {
            height: 60px;
            font-size: 13px;
            color: #999999;
            border-radius: 0;
            width: 100%;
            padding: 6px 12px 6px 25px;
            background: transparent;
            border: 1px solid;
            border-color: #dbd9e6;
        }
    }

    .options {
        margin: 20px 0 15px;
        display: flex;

        @media(max-width: 720px) {
            display: block;
        }

        input {
            cursor: pointer;
        }

        label {
            cursor: pointer;
        }

        .com {
            margin-right: 10px;

            &>:first-child {
                margin-right: 7px;
            }

            .price {
                margin-left: 7px;
                margin-bottom: 0;
                color: #999999;
            }
        }
    }

    .searchDomain {
        padding: 15px 62px;
        height: 60px;
        margin-left: 10px;
        box-shadow: 0px 20px 20px 0px rgb(42 38 172 / 20%);
        color: #fff;
        font-size: 15px;
        font-weight: 500;
        transition: all 0.3s ease 0s;
        background: linear-gradient(to right, #2926ac 0%, #6128be 100%);
        border: none;
    }
}

.trusted {
    margin-bottom: 70px !important;
    .brandlogos{
        @media(max-width: 575px){
            display: none;
        }
    }
    .text {
        h3 {
            font-size: 27px;
            color: #888888;
            font-weight: 300;
            text-align: center;
            margin-bottom: 8px;
        }
    }

    .brandlogo-1,
    .brandlogo-2,
    .brandlogo-3,
    .brandlogo-4,
    .brandlogo-5 {
        display: flex;
        justify-content: center;
    }
}

.features {
    .top {
        .first {
            padding: 30px 0;
            margin-bottom: 30px;

            .text1 {
                h3 {
                    font-size: 36px !important;
                    font-family: "Lato", sans-serif;
                    color: #1e1859;
                    line-height: 1.25;
                    font-weight: 700 !important;
                    margin-bottom: 25px !important;
                }

                p {
                    color: #888;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.8;
                }
            }
        }

        .second {
            padding: 45px 30px;
            margin-bottom: 30px;
            transition: all 0.2s linear;

            &:hover {
                background: #fff;
                box-shadow: 0px 20px 20px 0px rgb(40 25 114 / 10%);
                transition: all 0.2s linear;
            }

            .img {
                margin-bottom: 30px !important;
            }

            .text {
                p {
                    color: #888;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    line-height: 1.8;
                }
            }
        }
    }
}

.pricing-package {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 320px;
    background: linear-gradient(to right, #2926ac 0%, #6128be 100%);
    width: 100%;
    height: 706px;
    position: relative;

    @media(max-width:720px) {
        height: auto;
    }

    .col-md-4 {
        margin-bottom: 50px;
    }

    .lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .line1 {
            background-color: #fff;
            width: 80px;
            height: 1px;
            position: relative;
            margin-bottom: 10px;
        }

        .line2 {
            position: relative;
            margin-left: 100px;
        }
    }

    .text {
        h2 {
            text-align: center;
            font-size: 36px;
            color: #fff !important;
        }
    }

    .packages {
        position: relative;
        transform: translateY(10%);

        .normal {
            &:hover {
                cursor: pointer;

                .buttonPart {
                    .select {
                        background-color: #1e1859;
                        border-color: #1e1859;
                        color: #fff !important;
                    }
                }
            }

            background-color: #fff;
            border-radius: 3px;
            background: #faf9ff;

            .top {
                padding: 40px 7px;
                border-bottom: 1px solid #ebebeb;

                .title {
                    p {
                        font-weight: 400;
                        margin-bottom: 27px;
                        color: #888;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        line-height: 1.8;
                    }
                }

                .price {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-size: 40px !important;
                        position: relative;
                        bottom: -1px;
                        margin-right: 3px !important;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;
                        margin: 0;
                        color: #1d2441;
                    }

                    h1 {
                        font-size: 60px;
                        font-family: "Roboto", sans-serif;
                        font-weight: 700;
                        margin: 0;
                        color: #1d2441;
                    }
                }
            }

            .bottom {
                padding: 30px 8px 25px 8px;
                border-bottom: 1px solid #ebebeb;

                .feat {
                    p {
                        color: #888;
                        font-family: "Roboto", sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 1.8;
                        margin-bottom: 12px !important;
                    }
                }
            }

            .buttonPart {
                padding: 45px 0;

                .select {
                    background: transparent;
                    border: 1px solid #dbd9e6 !important;
                    color: #1e1859 !important;
                    border: 0;
                    display: inline-block;
                    color: #fff;
                    font-size: 15px;
                    font-weight: 500;
                    border-radius: 30px;
                    padding: 12px 45px;
                    transition: all 0.3s ease 0s;

                    &:hover {
                        background-color: #1e1859;
                        border-color: #1e1859;
                        color: #fff !important;
                    }
                }
            }
        }

    }
}

.high-quality {
    .lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;

        .line1 {
            background-color: #1e1859;
            width: 80px;
            height: 1px;
            position: relative;
            margin-bottom: 10px;
        }

        .line2 {
            position: relative;
            margin-left: 100px;
        }
    }

    .text {
        h2 {
            text-align: center;
            font-size: 36px;
            color: #1e1859 !important;
        }
    }

    .first {
        padding: 30px 0;
        margin-bottom: 30px;

        .text1 {
            h3 {
                font-size: 36px !important;
                font-family: "Lato", sans-serif;
                color: #1e1859;
                line-height: 1.25;
                font-weight: 700 !important;
                margin-bottom: 25px !important;
            }

            p {
                color: #888;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
            }
        }
    }

    .second {
        padding: 45px 30px;
        margin-bottom: 30px;
        transition: all 0.2s linear;

        &:hover {
            background: #fff;
            box-shadow: 0px 20px 20px 0px rgb(40 25 114 / 10%);
            transition: all 0.2s linear;
        }

        .img {
            margin-bottom: 30px !important;
        }

        .text {
            p {
                color: #888;
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                font-weight: 300;
                line-height: 1.8;
            }
        }
    }
}