<header #header>
    <app-header></app-header>
</header>

<div class="heroSec">
    <div class="container">
        <div class="text">
            <h6>SMART COMPANY WITH PERFECT SPACE</h6>
            <h1>POWERFUL WEB HOSTING</h1>
            <p>Form male saying she'd so every fifth winged after spirit male land moving won't <br> seasons fish In
                shall given fifth edition</p>
            <div class="getStartedBtn">
                <button type="button" class="getStarted">Get Started</button>
            </div>
        </div>
    </div>
</div>

<section class="domainSec mb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text">
                    <h3>Search Your <br> Domain Now!</h3>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9 px-lg-0 px-sm-0">
                        <div class="input">
                            <input type="text" class="domainSearch" placeholder="Enter Your Domain Name">
                        </div>
                        <div class="options">
                            <div class="com d-flex align-items-center">
                                <input type="checkbox" id="comcheck">
                                <label for="comcheck" class="d-flex">
                                    <strong>.com</strong>
                                    <h5 class="price">($5.99)</h5>
                                </label>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox" id="netcheck">
                                <label for="netcheck" class="d-flex">
                                    <strong>.net</strong>
                                    <h5 class="price">($5.99)</h5>
                                </label>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox" id="orgcheck">
                                <label for="orgcheck" class="d-flex">
                                    <strong>.org</strong>
                                    <h5 class="price">($5.99)</h5>
                                </label>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox" id="incheck">
                                <label for="incheck" class="d-flex">
                                    <strong>.in</strong>
                                    <h5 class="price">($5.99)</h5>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="searchDomain">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="trusted px-sm-0">
    <div class="text">
        <h3>Trusted by 12,0000+ happy customer worldwide</h3>
    </div>

    <div class="container">
        <div class="brandlogos my-5 pb-5 border-bottom">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-2 col-md-6 col-sm-6 mb-3">
                    <div class="brandlogo-1">
                        <img src="assets/images/brand-logo1.png" alt="brandlogo" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-sm-6 mb-3">
                    <div class="brandlogo-2">
                        <img src="assets/images/brand-logo2.png" alt="brandlogo" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-sm-6 mb-3">
                    <div class="brandlogo-3">
                        <img src="assets/images/brand-logo3.png" alt="brandlogo" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-sm-6 mb-3">
                    <div class="brandlogo-4">
                        <img src="assets/images/brand-logo4.png" alt="brandlogo" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6 col-lg-2 col-sm-6 mb-3">
                    <div class="brandlogo-5">
                        <img src="assets/images/brand-logo5.png" alt="brandlogo" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners">
    <div class="container">
        <div class="containers">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/images/brand-logo1.png" alt="partner">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/brand-logo2.png" alt="partner">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/brand-logo3.png" alt="partner">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/brand-logo4.png" alt="partner">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/brand-logo5.png" alt="partner">
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="top">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <div class="first">
                        <div class="text1">
                            <h3>Choose Your Own Virtual Space</h3>
                            <p>
                                Form male saying shed so every fifth winged and after spirit male land moving won
                                seasons
                                fish shall given fifth form male saying she'd soev bundantly green unes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="second">
                        <div class="img d-flex justify-content-center align-items-center mb-4">
                            <img src="assets/images/001-unlock.png" alt="">
                        </div>
                        <div class="text text-center">
                            <h4>
                                Secured Server
                            </h4>
                            <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="second">
                        <div class="img d-flex justify-content-center align-items-center mb-4">
                            <img src="assets/images/002-shield.png" alt="">
                        </div>
                        <div class="text text-center">
                            <h4>
                                Backup Facility
                            </h4>
                            <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="second">
                        <div class="img d-flex justify-content-center align-items-center mb-4">
                            <img src="assets/images/003-pencil.png" alt="">
                        </div>
                        <div class="text text-center">
                            <h4>
                                Easy To Customize
                            </h4>
                            <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="second">
                        <div class="img d-flex justify-content-center align-items-center mb-4">
                            <img src="assets/images/004-home-page.png" alt="">
                        </div>
                        <div class="text text-center">
                            <h4>
                                Free Domain Transfer
                            </h4>
                            <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="second">
                        <div class="img d-flex justify-content-center align-items-center mb-4">
                            <img src="assets/images/005-headset.png" alt="">
                        </div>
                        <div class="text text-center">
                            <h4>
                                Live Chat Support
                            </h4>
                            <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-package">
    <div class="container">
        <div class="text">
            <h2>Popular Pricing Package</h2>
        </div>
        <div class="lines">
            <div class="line1"></div>
            <div class="line1 line2"></div>
        </div>
        <div class="packages">
            <div class="row">
                <div class="col-md-4">
                    <div class="normal text-center shadow">
                        <div class="top">
                            <div class="title">
                                <h4>Normal</h4>
                                <p>Attend only first day.</p>
                            </div>
                            <div class="price">
                                <span>$</span>
                                <h1>45.80</h1>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="feat">
                                <p>Unlimited of Website
                                </p>
                                <p>Unlimited Disk Space
                                </p>
                                <p>Unlimited Bandwidth
                                </p>
                                <p>24/7/365 Support
                                </p>
                                <p>Unlimited Email Accounts
                                </p>
                                <p>99.9% Service Uptime
                                </p>
                            </div>
                        </div>
                        <div class="buttonPart">
                            <button class="select" type="button">Select Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="normal text-center shadow">
                        <div class="top">
                            <div class="title">
                                <h4>Premium</h4>
                                <p>Attend only first day.</p>
                            </div>
                            <div class="price">
                                <span>$</span>
                                <h1>65.80</h1>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="feat">
                                <p>Unlimited of Website
                                </p>
                                <p>Unlimited Disk Space
                                </p>
                                <p>Unlimited Bandwidth
                                </p>
                                <p>24/7/365 Support
                                </p>
                                <p>Unlimited Email Accounts
                                </p>
                                <p>99.9% Service Uptime
                                </p>
                            </div>
                        </div>
                        <div class="buttonPart">
                            <button class="select" type="button">Select Plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="normal text-center shadow">
                        <div class="top">
                            <div class="title">
                                <h4>Ultimate</h4>
                                <p>Attend only first day.</p>
                            </div>
                            <div class="price">
                                <span>$</span>
                                <h1>75.80</h1>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="feat">
                                <p>Unlimited of Website
                                </p>
                                <p>Unlimited Disk Space
                                </p>
                                <p>Unlimited Bandwidth
                                </p>
                                <p>24/7/365 Support
                                </p>
                                <p>Unlimited Email Accounts
                                </p>
                                <p>99.9% Service Uptime
                                </p>
                            </div>
                        </div>
                        <div class="buttonPart">
                            <button class="select" type="button">Select Plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="high-quality">
    <div class="container">
        <div class="text">
            <h2>High Quality Services</h2>
        </div>
        <div class="lines">
            <div class="line1"></div>
            <div class="line1 line2"></div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/006-server.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            SSD Cloud Hosting
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/004-home-page.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            Free Domain Transfer
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/007-server-1.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            Best Hosting Service
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/002-shield.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            Strong Backup
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/008-mail.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            Email Service
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="second">
                    <div class="img d-flex justify-content-center align-items-center mb-4">
                        <img src="assets/images/009-art.png" alt="">
                    </div>
                    <div class="text text-center">
                        <h4>
                            Data Analysis
                        </h4>
                        <p>Let place fly together third creature night at called fowl fill upon the grass</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>