<header>
    <app-header></app-header>
</header>

<div class="heroSec">
    <div class="container">
        <div class="text">
            <h6>SMART COMPANY WITH PERFECT SPACE</h6>
            <h1>POWERFUL WEB HOSTING</h1>
            <p>Form male saying she'd so every fifth winged after spirit male land moving won't <br> seasons fish In shall given fifth edition</p>
            <div class="getStartedBtn">
                <button type="button" class="getStarted">Get Started</button>
            </div>
        </div>
    </div>
</div>

<section class="domainSec">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="text">
                    <h3>Search Your <br> Domain Now!</h3>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-9 px-0">
                        <div class="input">
                            <input type="text" class="domainSearch" placeholder="Enter Your Domain Name">
                        </div>
                        <div class="options">
                            <div class="com d-flex align-items-center">
                                <input type="checkbox">
                                <strong>.com</strong>
                                <h5 class="price">($5.99)</h5>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox">
                                <strong>.net</strong>
                                <h5 class="price">($5.99)</h5>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox">
                                <strong>.org</strong>
                                <h5 class="price">($5.99)</h5>
                            </div>
                            <div class="com d-flex align-items-center">
                                <input type="checkbox">
                                <strong>.in</strong>
                                <h5 class="price">($5.99)</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="searchDomain">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
